@page
@model RazorPagesMovie.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* フォームタグヘルパー *@
        @* CSRF対策あり *@
        <form method="post">
            @* 検証タグヘルパー *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* asp-for属性：for属性の設定及び表示文字列を設定（対象の変数のDisplay属性を引用する） *@
                @* 以下でも代用可 *@
                @*@Html.LabelFor(model => Model.Movie.Title)*@
                <label asp-for="Movie.Title" class="control-label"></label>
                @* 自動的にid属性, name属性, type属性が指定される(明示的に指定された場合は上書きしない) *@
                @* id属性   => Movie.Title *@
                @* name属性 => Movie_Title *@
                @* type属性 => text *@
                <input asp-for="Movie.Title" class="form-control" />
                @* 検証タグヘルパー *@
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Price" class="control-label"></label>
                <input asp-for="Movie.Price" class="form-control" />
                <span asp-validation-for="Movie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                <input asp-for="Movie.Rating" class="form-control" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
